$color-black-primary: #363636;
$color-black-secondary: #616161;
$color-black-optional: #9F9F9F;

$color-orange-primary: #E8A83F;
$color-orange-secondary: #C58F36;
$color-orange-optional: #A4782F;

$color-gray-primary: #EFEFEF;
$color-gray-secondary: #D6D6D6;

$color-white: #FFFFFF;

$color-facebook: #4267B2;
$color-twitter: #1DA1F2;
$color-google-plus: #dd4b39;
$color-linkedin: #2867B2;
