html {
    overflow-x: hidden;
}

body {
    font-family: $font-roboto;
    color: $color-black-secondary;
}

p {
    line-height: $line-height-body;
    margin-bottom: $spacing-15;
    color: $color-black-secondary;
}

%font-heading {
    font-family: $font-opensans;
    color: $color-black-primary;
    font-weight: 700;
    line-height: $line-height-heading;
    margin-bottom: $spacing-20;
}

h1 {
    font-size: $size-h1;
    @extend %font-heading;
}

h2 {
    font-size: $size-h2;
    @extend %font-heading;
}

h3 {
    font-size: $size-h3;
    @extend %font-heading;
}

h4 {
    font-size: $size-h4;
    @extend %font-heading;
}

h5 {
    font-size: $size-h5;
    @extend %font-heading;
}

h6 {
    font-size: $size-h6;
    @extend %font-heading;
}

a {
    color: $color-orange-primary;
    transition: .4s;

    &:hover {
        color: $color-orange-secondary;
    }
}

input, button {
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

