$size-h1: 67px;
$size-h2: 50px;
$size-h3: 37px;
$size-h4: 28px;
$size-h5: 21px;
$size-h6: 16px;
$size-body: 16px;

$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;

$line-height-heading: 1.2;
$line-height-body: 1.8;