@for $i from 1 through 8 {
    .padding-top-#{$i * 10} {
        padding-top: #{$i * 10}px;
    }
}

@for $i from 1 through 8 {
    .padding-bottom-#{$i * 10} {
        padding-bottom: #{$i * 10}px;
    }
}

@for $i from 1 through 8 {
    .margin-top-#{$i * 10} {
        margin-top: #{$i * 10}px;
    }
}

@for $i from 1 through 8 {
    .margin-bottom-#{$i * 10} {
        margin-bottom: #{$i * 10}px;
    }
}

.margin-right-15 {
    margin-right: 15px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}

.margin-bottom-8 {
    margin-bottom: 8px !important;
}